pytest
affine
numpy
Shapely
rasterio
grpcio>=1.50
grpcio-tools>=1.50.0
protobuf>=4.25
google-api-core
matplotlib
setuptools
imageio
geopandas
pandas
tqdm
pebble
retrying
#xarray>=0.20
parse
dask
distributed
pytz