pytest
affine
numpy
Shapely
rasterio
grpcio>=1.32.0,!=1.44.0
grpcio-tools>=1.32.0,!=1.44.0
protobuf<4
google-api-core
matplotlib
setuptools
imageio
geopandas
pandas
tqdm
pebble
retrying
xarray>=0.20
parse
dask
distributed
pytz